beautifulsoup4
charset-normalizer
cryptography
ebooklib
lxml
fastapi
fastmcp
httpx
langchain>=1.0.0
langchain-chroma
langchain_community
langchain_core>=1.0.0
langchain_openai>=1.0.0
langchain_text_splitters>=1.0.0
langgraph>=1.0.0
mcp
networkx
pydantic
pypdf
python-docx
python-dotenv
PyYAML
Requests
alembic
SQLAlchemy
sse_starlette
starlette
tiktoken
transformers
sentencepiece
google-genai
blobfile
uvicorn
